.root{
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: var(--griscl);
  color: var(--blanquito);
  border-radius: 3px;
}

.root:hover{
  color: whitesmoke;
  background-color: var(--verdecito);
}