.root {
  width: 100%;
  display: flex;
  background-color: var(--griscl);
  flex-direction: column;
  position: relative;
}

.topbar {
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid var(--grisoc);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friends{
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70px;
  color: white;
}

.spacebar{
  background-color: blue;
  height: 25px;
  width: 1px;
}

.botbox{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.onlinelist{ 
  width: 100%;
}
.activenow{
  background-color: var(--grisin);
  width: 500px;
  height: 100%;
}