.root {
  width: 100%;
  display: flex;
  background-color: var(--griscl);
  flex-direction: column;
  position: relative;
}

.topbar {
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid var(--grisoc);
  display: flex;
  align-items: center;
}

.topone{
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: content-box;
}

.topone *{ 
  margin: 0 6px;
}

.addfriend{
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: var(--verdecito);
  color: white;
  padding: 2px 8px 3px 8px;
  border-radius: 3px;
  box-sizing: content-box;
}

.toptwo{
  display: flex;
  align-items: center;
  box-sizing: content-box;
}

.toptwo span{
  font-size: 24px;
  color: var(--blancusco);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}

.topone .friends{
  font-size: 16px;
  display: flex;
  align-items: center;
  color: white;
  padding: 5px;
  margin: 0;
}

.spacebar{
  background-color: blue;
  height: 25px;
  width: 1px;
  margin: 0 8px;
}

.botbox{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.onlinelist{ 
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.activenow{
  background-color: var(--grisin);
  width: 500px;
  height: 100%;
}

.contact{
  padding: 0 10px;
  width: 100%;
  border-radius: 10px;
  box-sizing: content-box;
}

.content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-top: 1px solid red;
}

.contact:hover{
  background-color: var(--grisin);
}

.content p{
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.content .conperson{
  display: flex;
  align-items: center;
  width: 100%;
}

.conectado {
  color: var(--blanquito);
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
}

.conicon {
  border-radius: 50%;
  background-color: var(--grisin);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  color: var(--blancusco);
  margin: 5px;
}
.conicon span {
  font-size: 18px;
}