.root{
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background-color: var(--grisin);
  color: var(--grislt);
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.root:hover{
  background-color: var(--grisho);
  color: whitesmoke;
}
.text{
  padding-left: 10px;
}